/* ==-- Brand Settings --== */
$brand_color_main1: #3168AF;
$brand_color_main2: #CE1126;

$brand_font_heading: "Open Sans";
$brand_font_body: "Open Sans";


/* ==-- Break Points --== */
$BP_for-tablet: 576px;
$BP_for-tabletLandscape: 768px;
$BP_for-desktop: 992px;
$BP_for-desktop4k: 1200px;


/* ==-- Spacing --== */
$G_spacing_xxsmall: .25rem;
$G_spacing_xsmall: .45rem;
$G_spacing_small: .7rem;
$G_spacing_medium: 1.2rem;
$G_spacing_large: 2rem;
$G_spacing_xlarge: 2.6rem;
$G_spacing_xxlarge: 3.2rem;
$G_spacing_xxxlarge: 3.6rem;

$G_spacing_blockMargin: 3.5rem;

$G_spacing_gutters: 5vw;
